@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root{
  --secondary-main: #1c51fe
}

body{
  font-family: Inter, sans-serif;
  min-width: 375px;
}

.header-logo-gradient{
  background: linear-gradient(101.54deg, #B235FF -9.3%, #001447 70.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-button-gradient{
  background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
}

.hero-title-gradient{
  background: -webkit-linear-gradient(#8D1CFE, #0038ED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.discover-nft-button-gradient {
  background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
}

.gradient {
  background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
}

.btn-gradient:focus {
  background: linear-gradient(112.62deg, #8d1cfe 29.4%, #0038ed 105.15%);
}

.white-border{
  -webkit-text-stroke: 4px #ffffff;
}

.ellipse-header {
  background: rgba(214, 34, 218, 0.59);
  filter: blur(247px);
}

.primaryPressed{
  background-color: #39324D;
}

/*.bor{*/
/*  -webkit-text-stroke: 1px #675576;*/
/*}*/

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.fixHeader{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

@media only screen and (min-width: 768px){
  .discover-nft-button-gradient{
    background : var(--secondary-main)
  }
  .hero-title-gradient{
    background: var(--secondary-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bor{
    -webkit-text-stroke: 0 transparent;
  }
}

@media only screen and (max-width: 1024px) {
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #1E1E1E;
    transition: 1s;
    transform: translateY(-400vh);
  }

  header .responsive-nav{
    transform: none;

  }
  .remove-scroll{
    overflow: hidden;
  }
  nav .nav-close-btn{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}









/******************   Slider   ************/




/*Animation*/
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}


/*Styling*/
   .slider {
     height: 100px;
     margin: auto;
     overflow: hidden;
     position: relative;
     width: fit-content;
   }

      .slider::before,
      .slider::after {
         content: "";
         height: 100px;
         position: absolute;
         width: 200px;
         z-index: 2;
       }

  .slider::after {
     right: 0;
     top: 0;
     transform: rotateZ(180deg);
   }

  .slider::before {
     left: 0;
     top: 0;
   }

  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 24);
  }

  /*.slide {*/
  /*  height: 100px;*/
  /*  width: fit-content;*/
  /*}*/
